@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f7f9;
  --foreground: #171717;
  --color-theme: #485695;
  --font-primary-color: #252831;

  --container-pd: 10px;

  --page-width: 1520px;
  --section-width: 1120px;
  --app-height: 100vh;

  --font-primary-color: #252831;
  --font-secondary-color: #404040;
  --font-secondary-2-color: #6f7485;

  --color-ref-neutral: #e1e1e1;
  --color-ref-neutral1: #f3f5f7;
  --color-ref-neutral2: #f0f1f3;
  --color-ref-neutral3: #cdcdcd;
  --color-ref-neutral4: #999999;
  --color-ref-neutral5: #7b7b7b;

  --color-ref-primary: #485695;
  --color-ref-primary1: #edeef5;
  --color-ref-primary2: #8a94d9;
  --color-ref-primary3: #6974b6;
  --color-ref-primary4: #3c487b;

  --color-ref-orange: #e66b00;
  --color-ref-orange1: #faefe6;
  --color-ref-orange2: #c64b00;

  --color-ref-secondary: #ff8500;
  --color-ref-secondary1: #ffebd6;
  --color-ref-secondary2: #ffb437;
  --color-ref-secondary3: #e58519;

  --color-ref-commercial: #0089ff;
  --color-ref-commercial-prominent: #0063ad;
  --color-ref-commercial-light: #e9f3ff;

  --color-ref-rural: #00c620;
  --color-ref-rural-prominent: #019c1a;
  --color-ref-rural-light: #ebf9eb;

  --color-ref-red: #c71720;
  --color-ref-purple: #9135a5;
  --color-ref-estimate: #44ac3d;
  --color-ref-green: #17a11a;

  --color-theme: var(--color-ref-primary);
  --color-theme-pressed: var(--color-ref-primary4);
  --color-theme-prominent: var(--color-ref-primary4);
  --color-theme-light: var(--color-ref-primary1);
  --color-theme-disabled: var(--color-ref-neutral3);

  --color-button-background: var(--color-theme);
  --color-button-background-pressed: var(--color-theme-pressed);
  --color-button-background-prominent: var(--color-theme-prominent);
  --color-button-background-disabled: var(--color-theme-disabled);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@media (min-width: 768px) {
  :root {
    --container-pd: 16px;
  }
}
@media (min-width: 1024px) {
  :root {
    --container-pd: 32px;
  }
}
@layer base {
  html {
    font-size: 100px;
  }

  body {
    color: var(--foreground);
    font-family: CircularStd, "Average Sans", "Helvetica Neue",
      "Source Sans Pro", "PingFang SC", sans-serif;
    font-size: 14px;
  }
  a {
    cursor: pointer;
  }
  .bg-font {
    background-color: var(--font-primary-color);
  }
  * {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: var(--color-ref-neutral);
  }
}

@layer components {
  .button-orange {
    @apply cursor-pointer w-auto px-12 h-40 bg-orange text-white text-sm rounded-sm inline-flex items-center justify-center align-middle transition-colors hover:bg-orange-pressed;
  }
  input[type="button"],
  button {
    padding: 0;
    border-width: 0;
    background-color: transparent;
    cursor: pointer;
  }
  .button-primary {
    @apply cursor-pointer w-auto px-12 h-40 bg-primary text-white text-sm rounded-sm inline-flex items-center justify-center align-middle transition-colors hover:bg-primary-pressed;
  }

  .button-primary:disabled {
    @apply bg-neutral-3 cursor-not-allowed;
  }

  .button-primary-out {
    @apply cursor-pointer w-auto px-12 h-40 bg-white text-primary text-sm rounded-sm inline-flex items-center justify-center align-middle border border-primary transition-colors hover:bg-primary-light;
  }

  .button-primary-out:disabled {
    @apply border-neutral-3 text-neutral-3 bg-white cursor-not-allowed;
  }

  .button-text-primary {
    @apply cursor-pointer text-primary hover:text-primary-pressed hover:drop-shadow-md;
  }

  .button-orange {
    @apply cursor-pointer w-auto px-12 h-40 bg-orange text-white text-sm rounded-sm inline-flex items-center justify-center align-middle transition-colors hover:bg-orange-pressed;
  }
  .button-orange:disabled {
    @apply bg-neutral-3 cursor-not-allowed;
  }

  .rich-text {
    @apply space-y-24 childs-[a]:text-primary childs-[a]:underline childs-[*]:max-w-full;
  }

  select,
  input,
  textarea {
    outline: none;
    margin: 0;
    padding: 0;
    border-width: 0;
    outline: none;
    background-color: transparent;
  }

  input,
  button {
    font-weight: 200;
    font-family: var(--font-ssp);
    font-size: inherit;
    -webkit-appearance: none;
  }

  input:disabled,
  input:disabled::placeholder,
  textarea:disabled,
  textarea:disabled::placeholder {
    -webkit-text-fill-color: var(--color-ref-neutral4);
    opacity: 1;
  }
}

@layer utilities {
  .page-wrap,
  .section-wrap {
    transition: padding 0.25s ease-out 0s;
    max-width: 100%;
    padding-left: var(--container-pd);
    padding-right: var(--container-pd);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
  .section-wrap {
    width: calc(1120px + var(--container-pd) * 2);
  }
}
