.contentContainer {
  width: 1296px;
  min-height: 986px;
  margin: 16px auto;
  min-height: calc(100vh - 100px);
  border-radius: 20px;
  background-color: #fff;
  padding: 12px 10px;
}

@media only screen and (max-width: 1440px) {
  .contentContainer {
    width: 1040px;
  }
}
@media only screen and (min-width: 1680px) {
  .contentContainer {
    width: 1552px;
  }
}

.listFilterTop {
  display: flex;
  justify-content: space-between;
}
.searchFilterContainer {
  display: flex;
}
.listContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.customPagination {
  margin-bottom: 20px;
}
