.headerContainer {
  height: 0.72rem;
  padding: 0 var(--container-pd);
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px #e1e1e1;
}
.logo {
  flex-shrink: 0;
  width: 1.5rem;
}
.logo img {
  width: 1.5rem;
  height: 0.28rem;
}
.searchTitle {
  display: flex;
  position: relative;
  padding-right: 0.2rem;
}
.searchTitle::after {
  content: "";
  width: 0.01rem;
  background-color: var(--color-ref-neutral3);
}
.avatar {
  cursor: pointer;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: #7b1fa2;
  flex-shrink: 0;
}
