.feedsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  border: 6px solid transparent;
  border-radius: 20px;
  box-sizing: content-box;
  transition: border 0.2s, box-shadow 0.3s;
}
.feedsContainer:hover {
  border: 6px solid #fff;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
}
.feedsImgContainer {
  width: 240px;
  height: 240px;
}
.feedsImg {
  object-fit: cover;
  width: 240px;
  height: 240px;
  border-radius: 16px;
}
.feedsContent {
}

.mainTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  margin-bottom: 32px;
}

.sign {
  color: #ff4f24;
}

.sellerWraper {
  box-sizing: border-box;
  height: 48px;
  padding: 12px 0;
}
